<nav class="max-w-screen-xl m-auto p-5 mt-4 br-3 px-8 shadow-lg rounded-md flex justify-between items-center relative">
  <h1 class="flex text-lg font-medium">
    <span>Recipe</span>
    <span class="text-orange-500">Book</span>
  </h1>

  <Shared::Button @onClick={{this.openRecipeModal}}>
    Add new recipe
  </Shared::Button>
</nav>

<div class="max-w-screen-xl m-auto grid md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
  {{#each this.recipes as |recipe|}}
    <div class="bg-white rounded shadow-md">
      <h1 class="p-3 border-solid border-b border-gray-300">
        {{recipe.name}} - {{recipe.calories}} kcal
      </h1>

      <div class="p-3 text-center">
        {{markdown-to-html recipe.description}}
      </div>
    </div>
  {{/each}}
</div>

{{#if this.showRecipeModal}}
  <Shared::Modal @size="md">
    <Forms::Recipe @onSubmit={{this.addRecipe}} />
  </Shared::Modal>
{{/if}}
